body {
    text-align: center;
    margin: 0 auto;
    background: #6cccfe;
    font-family: 'Share Tech Mono', sans-serif;
}

/* Menu */
#menu {
    width: 909px;
    height: 60px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: left;
    font-size: 50px;
}

#numberLifes, #numberKeys, #hasGems {
    padding-left: 10px;
}

.items {
    float: left;
    width: 20%;
}

.level {
    float: right;
    text-align: right;
    width: 25%;
    letter-spacing: -5px;
}

/* Opening screen */
#opening {
    width: 1209px;
    height: 760px;
    margin: 0 auto;
    text-align: left;
    font-size: 32px;
}

.gems {
    padding: 50px 0 40px;
}

.choices {
    float: left;
    width: 35%;
    font-size: 26px;
    text-align: left;
    padding-top: 10px;
}

.player {
    padding: 0;
    cursor: pointer;
}

.difficulty {
    border-radius: 6px;
    padding: 7px 0 5px;
    letter-spacing: -2px;
    font-size: 24px;
    margin: 10px 0 20px 90px;
    width: 120px;
    box-shadow: 2px 2px 0px #000;
    text-align: center;
    cursor: pointer;
}

.instructions {
    float: left;
    width: 29%;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

/* Dialogs at the end of each level */
#dialogs {
    position: absolute;
    z-index: 99;
    width: 909px;
    height: 760px;
    margin: 0 auto;
    text-align: center;
}
#dialog1, #dialog2, #dialog3, #dialog4 {
    background: url("../images/speech-bubble-left.png") no-repeat;
    border: none;
    padding: 22px 15px 0 15px;
    width: 101px;
    height: 109px;
    position: relative;
}

#dialog1 {
    top: 30px;
    left: 500px;
}

#dialog2 {
    top: 30px;
    left: 200px;
}

#dialog3 {
    background: url("../images/speech-bubble-right.png") no-repeat;
    top: 240px;
    left: 720px;
}

#dialog4 {
    top: 540px;
    left: 700px;
}